
CoreService/target/

Examples/ExampleServiceJAR/target/

Examples/ExampleServiceWAR/target/

Firebase/target/

JPARepository/target/

Sql2oRepository/target/

SwaggerUI/target/

h2_database\.mv\.db

Example\.log

UndertowServer/target/

h2_database\.trace\.db

*.iml

\.idea/
